<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Codecool Shop</title>
    <script type="module" src="/static/js/main.js" defer></script>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
</head>

<body>

<div class="flex" th:replace="cartModal.html :: copy"></div>
<div th:replace="paymentModal.html :: copy"></div>
<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
    <div id="cart-div">
        <button type="button" id="cart" class="btn btn-primary" data-toggle="modal" data-target="#cartModal">View Cart</button>
    </div>
</div>
    <div class="d-flex flex-row mr-5 ml-5 pl-5 pr-5 mt-5 mb-4">
        <div class="ml-auto mr-0 p-2">
            <a class="btn btn-dark btn-lg text-light" id="getAllButton">All Products</a>
        </div>
        <div class="dropdown ml-3 mr-0 p-2">
            <button class="btn btn-dark dropdown-toggle btn-lg" type="button" id="category" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Category
            </button>
            <div class="dropdown-menu" aria-labelledby="category">
                <button class="dropdown-item filterCategory" type="button" th:each="category, iterStat: ${categories}" th:text="${category.getName()}" th:attr="data-category-id=${category.id}"></button>
            </div>
        </div>
        <div class="dropdown ml-3 mr-0 p-2">
            <button class="btn btn-dark dropdown-toggle btn-lg" type="button" id="supplier" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Suppliers
            </button>
            <div class="dropdown-menu" aria-labelledby="supplier">
                <button class="dropdown-item filterSupplier" type="button" th:each="supplier, iterStat: ${suppliers}" th:text="${supplier.getName()}" th:attr="data-supplier-id=${supplier.id}"></button>
            </div>
        </div>
    </div>
            <div class="container" id="products-container">
                <div class="row" id="products">
                    <div class="col col-sm-12 col-md-6 col-lg-4" th:each="product,iterStat : ${products}">
                        <div class="card">
                            <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${product.id} + '.jpg'" alt="" />
                            <div class="card-header">
                                <h4 class="card-title" th:text="${product.name}">Product name</h4>
                                <p class="card-text" th:text="${product.description}">Product description... </p>
                            </div>
                            <div class="card-body">
                                <div class="card-text">
                                    <p class="lead" th:text="${product.getPrice()}">100 USD</p>
                                </div>
                                <div class="card-text">
                                    <button th:data-product-id="${product.id}" class="btn btn-success cart-btn">Add to cart</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
<div th:replace="footer.html :: copy"></div>
</body>
</html>